{% extends 'main/layout.html' %}


{% block title %}Main page{% endblock %}

{% block content %}
    <div class="fullscreen-bg" >
        <div class="overlay">
            <h1 >JEM CHURCH FLORIDA<br>Welcome Home</h1>
        </div>
        <video loop="" muted="" autoplay="" poster="" class="fullscreen-bg__video">
            <source src="main/static/main/video/zastSite.mp4" type="video/mp4">
        </video>
    </div>
   <div class="container justify-content-center">
        <div class="row">
            <div class="col">
                <p class="h6 "></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p class="h6 col-2 "></p>
            </div>
            <div class="col col-10 justify-content-center">
                <h1 class="fontH ">Jesus Embassy Church</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-2">

            </div>
            <div class="col  ourChurch">
                <p class="ourChurch  "><b>Our love for God</b> is expressed in the fact
                    that <b>we do everything</b><br> so that every person
                    is <b>saved, healed, restored<br> and blessed</b> for
                    the work of the gospel.</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-2">

            </div>
            <div class="col col-2">
                <button class="btn btn-dark"><a style=" text-decoration: none; color: white " href="/about">More about the church</a></button>
            </div>
            <div class="col col-2">
                <button class="btn btn-dark"><a style=" text-decoration: none; color: white" href="/donate">Donate</a></button>
            </div>
            <div class="col col-8">

            </div>

        </div>
        <div class="row square_row mt-5">
            <div class="col col-2">

            </div>
            <div class="col col-4 square" style="border: 3px solid black; border-radius: 30px">
                <div class="container">
                    <div class="row mb-0">
                        <div class="col">
                            <p class="sundayServices " style="font-family: 'Craftwork Grotesk Bold', serif;
                            font-size: 50px; margin-bottom: 0; " >Sunday Services</p>
                        </div>
                    </div>
                    <div class="row mt-0">
                        <div class="col">
                            <p style="font-family: 'Craftwork Grotesk Regular', serif;
                            font-size: 22px; margin-top: 0; ">2395 Shamrock dr., Venice, FL</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col col-6">
                            <p style="font-family: 'Craftwork Grotesk Regular', serif;
                            font-size: 17px; margin-top: 0; margin-bottom: 0">Morning</p>
                        </div>
                        <div class="col col-6">
{#                            <p>hi</p>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-6">
                            <p style="font-family: 'Craftwork Grotesk Regular', serif;
                            font-size: 25px; margin-top: 0;">1:30pm</p>
                        </div>
                        <div class="col col-6">
{#                            <p>hi</p>#}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col col-6">

            </div>

        </div>
        
   </div>

{% for el in context %}
    <h1>{{ el.name }}</h1>
{% endfor %}

{% endblock %}